body {
  width: 700px;
  height: 17486px;
  margin: 0 auto;
  background-image: url(dom_narkomfina_bg.jpg);
  background-position: top center;
  background-repeat: no-repeat;
  color: red;
}

h1, h2, h3 {
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
}

p, li {
  font-family: Georgia, Cambria, "Times New Roman", Times, serif;
}

h1 {
    font-size: 60px;
    text-align: center;
    font-weight: bold;
    margin-top: 213px;
    letter-spacing: -1.4px;
    margin-bottom: 229px;
}

p {
   font-size: 22px;
   letter-spacing: 0.16px;
   line-height: 33.36px;
   margin-top: 30px;
 }
 h2 {
  margin-top: 46px;
  font-size: 36px;
  font-weight: bold;
  letter-spacing: -0.3px;
}

h2 + p {
    margin-top: 7px;
}
